html, body{
    padding:0;
    margin:0;
    height:100%;
}

.page-header {
    margin-left: 0.5em;
    margin-top: 0em;
}

img{
  margin-top: -3em;
  margin-bottom: -0.7em;
}

.directionsContainer{
    width:380px;
    height:100%;
    overflow-y:auto;
    float:left;
}

#myMap{
    position:relative;
    width:calc(100% - 380px);
    height:100%;
    float:left;
}

/* Toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle-switch-container {
       
}

.padding-left {
    padding-left: 2em;
    margin-top: 2em;
}

.directionsContainer .switch-control {
    margin-left: -2.5em;
}

.col-md-3 {
    margin-left: 0em;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}